<div class="w-[300px] bg-slate-200 p-2 shadow-md flex-grow-1">
    <div class="flex-row w-[100%] mt-4 h-[100vh] flex-grow-1">
        <div class="w-[100%] mb-3 border-hidden">
            <%= form_tag(update_url_path, method: :post, remote: true, class: 'flex, w-[100%] border-hidden', id: 'update-url-form') do %>
                <%= text_field_tag :url, @url, id: 'url-input', placeholder: 'Enter url', class: ' w-[73%] rounded-lg text-[10px] border-gray-100 py-1' %>
                <%= submit_tag 'Scrape URL', class: 'w-[25%] m-[auto] text-[10px] py-2 px-1 rounded-lg bg-[#3B82F6] text-center cursor-pointer text-white' %>
            <% end %>
        </div>
        <div class="border border-#e5e7eb-100 border-white"></div>
            <div>
                <%if data.present? %>
                    <% data.each do |data| %>
                        <div class="text-left my-2 flex items-center hover:bg-slate-400 rounded-md">
                            <i class="fa-solid fa-border fa-lg fa-tag rounded-lg bg-[#3B82F6] text-#fff" style="--fa-border-radius: 1em; --fa-border-color: #3B82F6; --fa-border-padding: 0.2rem;
                            --fa-primary-color: #fff;"></i>
                            <a class="text-[10px] p-1 flex justify-between w-[100%] font-semibold" href="<%= data[:link]%>" target="_blank">
                                <%= data[:url].slice(0, 50) %> 
                            </a> 
                        </div>
                        <hr class="w-[100%] border-gray-100">
                    <% end %>
                <% end %>
            </div>
    </div>
</div> 

 <script>
    function resetTextFieldOnLoad(){
        document.addEventListener('DOMContentLoaded', () => {
            if(document.getElementById('url-input')){
                const searchField = document.getElementById('url-input')
                searchField.value = "Enter url to be scraped"
            }
        });
    }
    function emptyTextField(){
        const searchField = document.getElementById('url-input')
        searchField.addEventListener('click', () => {
            if(searchField.value == "Enter url to be scraped"){
                searchField.value = " "
            }
        })
    }
    emptyTextField()
    resetTextFieldOnLoad()
</script>