<section class="w-[100%] border h-[100%] overflow-y-hidden">
    <div class="flex justify-between">   
        <%if @scraped_data.present? && @url.present?%>
            <%= render partial: 'shared/sidenav', class: "flex-[0.2] h-[100%]", locals: {data: @scraped_data, url: @url } %> 
        <%end%>

        <div class="flex-row justify-between h-[100%] flex-[0.98]">
            <div class="text-left mt-3 mb-5 text-[14px] flex justify-between w-[95%]">
                <div>
                    <p><span class="text-bold">Scraped Url:</span> <a class="text-blue-500 underline" target="_blank" href="<%= @url %>" ><%= @url %></a></p> 
                    <p>
                        <span class="text-bold">Listings:</span>
                        <%= render partial: 'shared/listing_count', locals: { scraped_data: @scraped_data }  %> 
                    </p>
                </div>

                <div class="flex align-top items-start">
                    <%= render partial: 'shared/list_grid_button', class: '' %>
                    <%= render partial: 'shared/grid_button', class: '' %>
                </div>
            </div>
            
            <%= render partial: 'shared/scraped_data', class: 'mx-auto', locals: { scraped_data: @scraped_data } %>
        </div>
    </div>
</section>
