<!-- Main modal -->
<div id="updateProductModal" tabindex="-1" aria-hidden="true" class="z-50 justify-center items-center w-full md:inset-0 h-modal md:h-full">
    <div class="relative p-4 w-[90%] m-auto h-full md:h-auto">
        <!-- Modal content -->

        <div class="relative p-4 bg-white rounded-lg shadow sm:p-5">
            <!-- Modal header -->
            <div class="flex justify-between items-center pb-2 mb-4 rounded-t border-b sm:mb-5">
                <h3 class="text-lg font-semibold text-gray-900 ">
                    Update Listing
                </h3>
                <a href="/gumtree_scrapes" type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center" data-modal-toggle="updateProductModal">
                    Back to listings page
                </a>
            </div>
            <!-- Modal body -->
            <%= form_with(model: gumtree_scrape, class: "contents") do |form| %>
              <div class="flex justify-around">

              <% if gumtree_scrape.link_src.present? %>
                    <img src="<%= gumtree_scrape.link_src %>" alt="Image" class="flex-[0.3] w-[10rem] h-[30rem]">
              <% end %>

              <form action="#" >
                <div class="flex-col flex-[0.6]">
                  <div class="grid gap-4 mb-4 sm:grid-cols-2">
                      <div>
                          <label for="name" class="block mb-2 text-sm font-medium text-gray-900">Name</label>
                          <%= form.text_field :title, class: "bg-gray-50 border border-gray-300 text-gray-900 text-xs rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"  %>
                      </div>
                    
                      <div>
                          <label for="location" class="block mb-2 text-sm font-medium text-gray-900">Location</label>
                          <%= form.text_field :location, class: "bg-gray-50 border border-gray-300 text-gray-900 text-xsrounded-lg text-xs focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"  %>
                      </div>

                      <div class="flex-col w-[200%]">

                        <div class="w-full ">
                            <label for="name" class="block mb-2 text-sm font-medium text-gray-900">Image link</label>
                            <%= form.text_field :link_src, class: "bg-gray-50 border border-gray-300 text-gray-900 text-xs rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"  %>
                        </div>
                        
                        <div class="flex-row mt-3">
                          <div class="w-[100%]">
                              <label for="link" class="block mb-2 text-sm font-medium text-gray-900">Link to post</label>
                              <%= form.text_field :link, class: "bg-gray-50 border border-gray-300 text-gray-900 text-xs rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" %>
                          </div>
                        
                          <div class="flex mt-3 space-x-3">
                            <div>
                                <label for="category" class="block mb-2 text-sm font-medium text-gray-900 ">Category</label>
                                <select id="category" class="bg-gray-50 border border-gray-300 text-gray-900 text-xs rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 ">
                                    <option selected="">Electronics</option>
                                    <option value="TV">TV/Monitors</option>
                                    <option value="PC">PC</option>
                                    <option value="GA">Gaming/Console</option>
                                    <option value="PH">Phones</option>
                                </select>
                            </div>
                            <div>
                                <label for="price" class="block mb-2 text-sm font-medium text-gray-900">Price</label>
                                <%# <input type="number" value="399" name="price" id="price" class="bg-gray-50 border border-gray-300 text-gray-900 text-xs rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="$299"> %>
                                <%= form.text_field :price, class: "bg-gray-50 border border-gray-300 text-gray-900 text-xs rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" %>
                            </div>
                            <div>
                                <label for="price" class="block mb-2 text-sm font-medium text-gray-900">Mark as sold</label>
                                <input type="checkbox" value="" name="" id="" >
                            </div>

                            </div>
                          </div>
                        </div>

                      </div>
                      <div class="sm:col-span-2">
                          <label for="description" class="block mb-2 text-xs font-medium text-gray-900 ">Description</label>                          
                          <%= form.text_area :description, placeholder: "Enter Description", rows: "5", class: "block p-2.5 w-full text-xs text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500" %>             
                      </div>
                  <%# </div> %>
                  <div class="flex items-center space-x-4 mt-4">
                      <%# <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-xs px-5 py-2.5 text-center">
                          Update product
                      </button> %>

                      <%= button_to "Update product", gumtree_scrape_path, method: :patch, class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-xs px-5 py-2.5 text-center" %>

                      <%= button_to "Delete", gumtree_scrape_path, method: :delete, class: "text-xs text-red-600 inline-flex items-center hover:text-white border border-red-600 hover:bg-red-600 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg  px-5 py-2.5 text-center " %>
                  </div>
                </div>
            </form>
            
            </div>
            <%end%>
        </div>
    </div>
</div>

