<!DOCTYPE html>
<html>
  <head>
    <title>Web Scraper Ecommerce</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application.tailwind.css", "inter-font", "data-turbo-track": "reload" %> 
    <%= stylesheet_link_tag "application", "inter-font", "data-turbo-track": "reload" %>
    <script src="https://kit.fontawesome.com/12f7de259f.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag "application.css", "data-turbo-track": "reload" %> 
    <%= javascript_importmap_tags %>
    <!-- <%= hotwire_livereload_tags if Rails.env.development? %> -->

    <!-- Include Turbolinks Progress Bar -->
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/turbolinks/5.2.0/turbolinks.js' %>
    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/turbolinks/5.2.0/turbolinks.css' %>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>

  </head>

  <body>
      <% flash.each do |type, msg| %>
        <%if type == "notice"%>
          <div class="bg-green-50 mb-5 text-center text-green-500">
              <%= msg %>
          </div>
        <% else %>
          <div class="text-center bg-red-400 text-white mb-5">
              <%= msg %>
          </div>
        <% end %>
      <% end %>

      <%= render partial: 'shared/nav'%>
      <%= yield %>

    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.turbo.min.js"></script>

  </body>
</html>
